<div class="container">
    <div *ngIf="isSuccess" class="alert alert-success fade show m-3" role="alert">
        {{ successResponse }}
    </div>
    <div *ngIf="isError" class="alert alert-danger fade show m-3" role="alert">
        {{ errorResponse }}
    </div>
    <div class="card m-3">
        <div class="card-header">
            <div class="mb-0 text-center">
                Decline Reimbursement
            </div>
        </div>
        <div class="card-body">
            <form [formGroup]="claimDecliningForm" (ngSubmit)="onSubmit()">
                <div class="form-group mb-2">
                    <label>
                        Internal Notes
                    </label>
                    <input type="text" formControlName="internalNotes" class="form-control" />
                    <div *ngIf="formControls.internalNotes!.invalid && (formControls.internalNotes!.dirty || formControls.internalNotes!.touched)"
                        class="text-danger">
                        <div *ngIf="formControls.internalNotes!.errors!['required']">
                            Required! Enter a reason for declining the claim!
                        </div>
                    </div>
                </div>
                <div class="text-center">
                    <button class="btn btn-primary me-2" [disabled]="claimDecliningForm.invalid">Decline</button>
                    <button class="btn btn-secondary" (click)="onReset()">Cancel</button>
                </div>
            </form>
        </div>
    </div>
</div>
